.main{
    margin: 0px;
    height: 800px;
    width: 100%;
    background-color: chocolate;
    text-align: center;

}
.heading{
    height: 200px;
    color: white;
}
#numbers{
    height: 200px;
    color: white;
    font-size: 100px;
}
#increase{
    padding: 20px;
    height: 50px;
    margin-right: 20px;
    color: white;
    background-color: green;
}
#decrease{
    padding: 20px;
    height: 50px;
    margin-left: 20px;
    color: white;
    background-color: red;
}